<body>

<main class="mb-auto">



 <div class="container">
 	<div class="row">
 		 <%= render "users/user_info", book: @book, user: @user %>

 		<div class="col-md-8 offset-md-1">
			<h2>Book detail</h2>
				<table class="table table-hover table-inverse">
				 <tbody>
				  <tr>

				   <td>
				   	<%= link_to user_path(@book_detail.user.id) do %>
            		<%= attachment_image_tag @book_detail.user, :profile_image, size: "40x40", format: 'jpeg', fallback: "no_image.jpg"%>
					<% end %>

					<br>
				    <%= link_to user_path(@user.id) do %>
			  		 <%= @user.name %>
				    <% end %>
				   </td>

				   <td>
			 	    <%= link_to book_path(@book_detail.id) do %>
					 <%= @book_detail.title %>
					<% end %>
				   </td>

				   <td>
			  	    <%= @book_detail.body %>
				   </td>

				   <td>
				   <div id="fav_btn_<%= @book_detail.id %>">
					<%= render partial: "favorites/fav", locals: {book: @book_detail} %>
				   </div>
				   </td>

				   <td>
				   コメント数:<%= @book_detail.book_comments.count %>
				   </td>

				   <% if @user.id == current_user.id %>

				   <td>
				   	<%= link_to "Edit", edit_book_path(params[:id]), class: "btn btn-sm btn-success" %>
				   </td>

				   <td>
				   	<%= link_to "Destroy", book_path(@book_detail.id), method: :delete, "data-confirm" => "Are you sure?", class: "btn btn-sm btn-danger" %>
				   </td>
				   <% end %>

				  </tr>
				  <!--ここからコメント一覧・削除機能の記述-->

				<!--<div id="comments_<%= @book_detail.id %>">-->
				<!--	<%= render "book_comments/comments", comments: @book_detail.book_comments %>-->
				<!--</div>-->

				   <!--ここまでがコメント一覧・削除機能の記述-->
				 </tbody>
			    </table>
			    <div id="comments_<%= @book_detail.id %>">
					<%= render "book_comments/comments", comments: @book_detail.book_comments %>
					</div>

			      <!--ここからコメント投稿の記述-->
				   	<%= render "book_comments/form", book: @book_detail, comment: @book_comment %>

				　<!--ここまでコメント投稿の記述-->

					</div>
	    </div>
	</div>
 </div>

</main>

</body>

