<body>

<main class="mb-auto">



 <div class="container">
 	<div class="row">
 		 <%= render "users/user_info", book: @book, user: @user %>

 		<div class="col-md-8 offset-md-1">
			<h2>Book detail</h2>
				<table class="table table-hover table-inverse">
				 <tbody>
				  <tr>

				   <td>
				   	<%= link_to user_path(@book_detail.user.id) do %>
            		<%= attachment_image_tag @book_detail.user, :profile_image, size: "40x40", format: 'jpeg', fallback: "no_image.jpg"%>
					<% end %>

					<br>
				    <%= link_to user_path(@user.id) do %>
			  		 <%= @user.name %>
				    <% end %>
				   </td>

				   <td>
			 	    <%= link_to book_path(@book_detail.id) do %>
					 <%= @book_detail.title %>
					<% end %>
				   </td>

				   <td>
			  	    <%= @book_detail.body %>
				   </td>

				   <% if @user.id == current_user.id %>

				   <td>
				   	<% if @book_detail.favorited_by?(current_user) %>
				   	 <%= link_to book_favorites_path(@book_detail), method: :delete do %>
				   	  <label class="text-danger">♥<%= @book_detail.favorites.count %></label>
				   	 <% end %>

				   	<% else %>
				   	 <%= link_to book_favorites_path(@book_detail), method: :post do %>
				   	  <label>♡<%= @book_detail.favorites.count %></label>
				   	 <% end %>

				   	<% end %>
				   </td>

				   <td>

				   コメント数:<%= @book_detail.book_comments.count %>


				   </td>

				   <td>
				   	<%= link_to "Edit", edit_book_path(params[:id]), class: "btn btn-sm btn-success" %>
				   </td>

				   <td>
				   	<%= link_to "Destroy", book_path(@book_detail.id), method: :delete, "data-confirm" => "Are you sure?", class: "btn btn-sm btn-danger" %>
				   </td>
				   <% end %>

				  </tr>
				 </tbody>
			    </table>
			    <div class="form-group">
			    	<%= form_with(model:[@book_detail, @book_comment], local: true) do |f| %>
 						<%= f.text_area :comment, rows:'5',placeholder: "コメントをここに" %>
 						<%= f.submit "送信する" %>
						<% end %>
					</div>
	    </div>
	</div>
 </div>

</main>

</body>

